<div style="display: block;">
  <canvas baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [type]="'line'"
          >
          </canvas>
</div>

<table class="table">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">BMI</th>
    </tr>
  </thead>
   <tbody>
    <tr *ngFor="let item of weightData; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item }}</td>
      <td>{{ dateData[i] }}</td>
      <td>{{ bmiData[i] }}</td>
      <button (click)="this.dataService.deleteData(inputId[i])">
        <svg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" width="15">
          <path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/>
        </svg>
      </button>
    </tr>
  </tbody>
</table>
