<div style="display: block;">
  <canvas baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [type]="'line'"
          >
          </canvas>
</div>

<table class="table">
  <thead>
    <tr >
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">BMI</th>
    </tr>
  </thead>
   <tbody>
    <tr *ngFor="let item of weightData; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item }}</td>
      <td>{{ dateData[i] }}</td>
      <td>{{ bmiData[i] }}</td>
      <button type="button" (click)="this.dataService.deleteData(inputId[i])" class="btn btn-danger">
       X
      </button>
    </tr>
  </tbody>
</table>
